html{
    font-size: 62.5%;
}

body{
    background: url('../images/bg-desktop.svg') var(--cor-fundo) center center no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 30px 200px;
}

/* HEADER */

.header{
    display: flex;
    margin-bottom: 58px;
}

.header .logo img{
    width: 200px;
}

/* MAIN */

.main{
    display: flex;
    justify-content: space-between;
    height: 70%;
    gap: 60px;
    font-family: 'Poppins', sans-serif;
}

.main .ilustracao{
    /* width: 60%; */
    height: 100%;
}

.main .sobre{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 40px;
    gap: 20px;
}
 
.main .ilustracao img{
    width: 100%;
    height: 100%;
}

.main .sobre h1{
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

.main .sobre p{
    font-size: 1.8rem;
    color: #fff;
}

.main .sobre .btn-registrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    background-color: #fff;
    font-size: 1.4rem;
    border-radius: 50px;
    box-shadow: 0 5px 10px #222121;
    color: var(--cor-fundo);
    transition: 0.4s;
}

.main .sobre .btn-registrar:hover{
    background-color: var(--cor-hover);
    color: #fff;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.footer .redes-sociais i{
    font-size: 1.8rem;
    color: #fff;
    padding: 10px 10px;
    margin: 0 5px;
    border: solid 2px #fff;
    border-radius: 50px;
    transition: 0.4s;
}

.footer .redes-sociais .fa-facebook-f{
    padding: 10px 14px;
}

.footer .redes-sociais i:hover{
    color: var(--cor-hover);
    border: solid 2px var(--cor-hover);
}